hr{
    height: 3px;
    background-color: #253237;
    border: none
}

figure {
    display: grid;
    place-items: center;
}

img:hover {
    transition: transform .2s; 
    transform:scale(1.15); 
    box-shadow: 3px 3px 3px 3px #000000a3;
}

.pageColor {
    background-color: rgba(112, 153, 159, 0.493);
}

.caption{
    padding-top: 10px;
    text-align: center;
    font-style: italic;
    font-family: Montserrat;
}

.imageBackground{
    display: flex; 
    justify-content: center; 
    background-color: rgba(112, 153, 159, 0.493);
}

.questionFormat {
    font-weight: bold;
}

.answerChoice {
    font-family: Montserrat;
    line-height: 2;
}

.highlightYellow {
    background-color: rgba(255, 229, 158, 0.853);
}

.tableFormat {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
}